 <%- include('partials/header') %>

 <main class="container">
   <% if(!user) { %>
      <h1>Hello anonymous!</h1>
   <%} else { %>
      <h1>Hello <%= user.fullname %>!</h1>
      <a href="/message"><button class="btn btn-primary">Create Message</button></a>
   <% } %>

   <% if (!isLogged) { %>
      Log-in or Sign-up to view the content
   <% } else { %>
      <% allMsg.forEach(msg => { %>
         <div>
            <h3><%= msg.title %></h3>
            <% if (user.membership_status === 'member' || user.is_admin) { %>
               <p>Author: <%= msg.fullname %></p>
               <small>Created at: <%= msg.created_at %></small>
            <% } %>  
            <p><%= msg.body %></p>
            <% if (user.is_admin) { %>
               
               <a href="/message/<%= msg.id %>"><button class="btn btn-danger">Delete</button></a>
            <% } %>
         </div>
      <% }) %>

   <% } %>
      
    
 </main>



 <%- include('partials/footer') %>